<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="Test" default="false"/>

	<include file="$(find rover_wheel_encoder)/launch/rover_wheel_encoder.launch"/>
	<include file="$(find rplidar_ros)/launch/rover_rplidar.launch"/>
	<include file="$(find rover_pixhawk)/pixhawk.launch"/>

   	<group unless="$(arg Test)">
	   <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>
        </group>

</launch>
